// base
@import './base/variables';
@import './base/global';

// components
@import './components/button';
@import './components/card';
@import './components/footer';
@import './components/header';
@import './components/list';
@import './components/section';
@import './components/swiper';

// page
@import './page/home';