.btn {
	display: block;
	padding: 0.84375rem 1.21875rem;
	border-radius: 2.5rem;
	background-clip: padding-box;
	font-size: 1.0625rem;
	font-weight: 500;
	line-height: 1.17;
	transition: .3s;
	&:focus {
		box-shadow: unset;
	}
	// text
	span {
		position: relative;
		z-index: 2;
	}
	
	// color
	&.btn-primary {
		background-color: $color-primary;
    	border-color: transparent;
		border-width: 0.375rem;
		position: relative;
		&:hover, &:active {
			&::after {
				opacity: 1;
			}
		}
		// hover bg
		&::after {
			content: '';
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 0;
			background-color: rgba($color-primary, .4);
			padding: 0.375rem;
			box-sizing: content-box;
			border-radius: 2.5rem;
			transition: .3s;
		}
	}
	&.btn-secondary {
		color: $color-secondary;
		background-color: rgba(255, 255, 255, .79);
    	border-color: transparent;
		border: 1px solid $color-secondary;
		&:hover, &:active {
			background-color: rgba(255, 255, 255, 1);
		}
	}
	// size
	&.btn-lg {
		padding: 1.125rem;
		border-width: 0.53125rem;
		min-width: 15.8125rem;
	}
}

.link {
	text-decoration: none;
	font-size: 1.0625rem;
	font-weight: 500;
	line-height: 1.17;
	padding: 0.75rem 0;
	transition: .3s;

	&.link-secondary {
		color: $color-secondary;
		&:hover, &:active {
			opacity: .8;
		}
	}
}


.icon-style {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	&::before {
		content: '';
		flex-shrink: 0;
		width: 1.1875rem;
		height: 1.1875rem;
		display: block;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: relative;
		z-index: 2;
	}
	&.btn-primary {
		&::before {
			filter: brightness(10);
		}
	}
	&.letter-icon {
		&::before {
			background-image: url('../images/icon/letter_withe.svg');
		}
	}
	&.teacher-icon {
		&::before {
			background-image: url('../images/icon/teacher.svg');
		}
	}
	&.course-icon {
		&::before {
			background-image: url('../images/icon/edit.svg');
		}
	}
	&.download-icon {
		&::before {
			background-image: url('../images/icon/download.svg');
		}
	}
}

// scroll down
.scroll-down {
	.scroll-down-inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		// line
		&::after {
			content: '';
			background-color: #FFF;
			width: 1px;
			height: 3.5625rem;
			margin-top: 0.5625rem;
		}
		.mouse {
			width: 1.6875rem;
			height: 2.5rem;
			border-radius: 5rem;
			border: 1px solid $color-gray-20;
			position: relative;
			// dot
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
			}
			&:before {
				width: 0.1875rem;
				height: 0.625rem;
				top: 0.625rem;
				left: calc(50% - 0.09375rem);
				background: #FFF;
				animation: m-2-ball 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
			}
			@keyframes m-2-ball {
				0%, 50%, 60% {
					transform: scaleY(0.118);
				}
				30% {
					transform: scaleY(1);
				}
				0%, 29.99% {
					transform-origin: top;
				}
				30%, 100% {
					transform-origin: bottom;
				}
				90%, 100% {
					transform: scaleY(0.118) translateY(-4.5rem);
				}
			}
		}
	}
}