// teacher
.teacher-card {
	position: relative;

	@media (min-width: $media-min-pad) {
		min-height: 21rem;
	}

	& + .teacher-card {
		margin-top: 3.9375rem;
	}

	// 電腦版左右排列相反
	&.pc-reverse-style {
		.teacher-photo {
			@media (min-width: $media-min-pad) {
				left: 0;
			}
		}
		.text-wrap {
			@media (min-width: $media-min-pad) {
				margin: 0 0 0 auto;
			}
			.teacher-role {
				@media (min-width: $media-min-pad) {
					margin: 0 0 0 auto;
					text-align: right;
				}
			}
			.teacher-intro {
				@media (min-width: $media-min-pad) {
					padding: 1.875rem 2rem 2.25rem 12rem;
				}
				// 右上角裝飾
				&:before {
					@media (min-width: $media-min-pad) {
						clip-path: polygon(0% 0%, 97% 0%, 100% 100%, 0% 100%);
						left: 0;
					}
				}
				// 左下角裝飾
				&::after {
					@media (min-width: $media-min-pad) {
						left: unset;
						right: -1.6875rem;
					}
				}
			}
		}
	}

	.teacher-photo {
		box-shadow: 0px 4px 4px 0px #00000040;
		width: 100%;
		aspect-ratio: 1 / 1;
		border: 2px solid $color-border;
		position: relative;
		@media (min-width: $media-min-pad) {
			width: 21rem;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 5;
		}
		// 左上三角形
		&::before {
			content: '';
			width: 2.6875rem;
			height: 2.8125rem;
			background-color: $color-border;
			clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
			position: absolute;
			top: 0;
			left: 0;
		}
		// triple line
		&::after {
			content: '';
			background-image: url('../images/triple-line.svg');
			background-position: center left;
			background-repeat: repeat-x;
			background-size: contain;
			width: calc(13rem + 6%);;
			height: 2.375rem;
			display: block;
			position: absolute;
			z-index: 1;
			right: 0;
			bottom: 0.3125rem;
			@media (min-width: $media-max-pad) {
				width: 75%;
			}
		}
		.image-wrap {
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.teacher-name {
			width: fit-content;
			height: 3rem;
			background-color: $color-border;
			clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
			position: absolute;
			z-index: 10;
			bottom: -1px;
			right: -1px;
			text-align: center;
			padding: 0.6875rem 2.375rem 0.6875rem 3.75rem;
			color: #fff;
			font-size: 1.375rem;
			font-weight: 700;
			margin: 0;
		}
	}

	.text-wrap {
		@media (min-width: $media-min-pad) {
			width: 82%;
		}
		.teacher-role {
			color: $color-fifth;
			font-size: 1.25rem;
			font-weight: 400;
			border-top: 1px solid $color-border;
			padding: 1.25rem 0 1.125rem;
			width: 100%;
			@media (min-width: $media-min-pad) {
				width: 26%;
				padding: 0.5625rem 0;
			}
		}
		.teacher-intro {
			background-color: $color-third-bg;
			position: relative;
			padding: 0.875rem 0.75rem 1.6875rem;
			@media (min-width: $media-min-pad) {
				padding: 1.875rem 12rem 2.25rem 2rem;
			}
			// 右上角裝飾 (pc only)
			&:before {
				background-color: $color-third-bg;
				clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
				display: block;
				width: 72%;
				height: 1.375rem;
				position: absolute;
				top: -1.375rem;
				right: 0;
				@media (min-width: $media-min-pad) {
					content: '';
				}
			}
			// 左下角裝飾
			&::after {
				content: '';
				background: linear-gradient(94.5deg, $color-secondary-bg 8.4%, rgba($color-secondary-bg, 0.36) 77.49%);
				clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
				display: block;
				width: 100%;
				height: 1.59rem;
				position: absolute;
				bottom: -0.795rem;
				left: -1rem;
				@media (min-width: $media-max-pad) {
					width: 34%;
					left: -1.6875rem;
				}
			}
		}
		.teacher-des {
			p {
				font-size: 1rem;
				font-weight: 400;
				letter-spacing: 0.02em;
				margin: 0;
				& + p {
					margin-top: 0.75rem;
				}
			}
		}
		.teacher-motto {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.33;
			position: relative;
			padding: 2.875rem 0.4375rem 0 0.625rem;
			margin: 0.5625rem 0 0;
			@media (min-width: $media-min-pad) {
				margin: 2.625rem 0 0;
				padding: 1.5rem 0 0 3.125rem;
			}
			// 逗號裝飾
			&::before {
				content: '';
				background-image: url('../images/blockquote.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 2.25rem;
				height: 1.75rem;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

// feature
.feature-card {
	overflow: hidden;
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
	&:hover {
		.image-wrap {
			&::before {
				opacity: 1;
			}
		}
		.btn {
			opacity: 1;
			pointer-events: auto;
		}
	}
	.image-wrap {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		// mask
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .4);
			opacity: 0;
			transition: .3s;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.btn {
		position: absolute;
		z-index: 2;
		bottom: 1.6875rem;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		pointer-events: none;
	}
}

// video
.video-card {
	// 16:9
	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
	}
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// course
.course-card {
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	position: relative;
	transition: .3s;
	&:hover {
		.image-wrap {
			&::before {
				opacity: 1;
			}
		}
		.text-wrap {
			opacity: 1;
		}
	}

	.course-link {
		// width: 100%;
		// height: 100%;
		// width: 100%;
		
		// display: block;
		// overflow: hidden;
		
		// position: relative;

		
	}
	.image-wrap {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		// mask
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .4);
			opacity: 0;
			transition: .3s;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.text-wrap {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, .8);
		border-radius: 2.5rem;
		width: 80%;
		aspect-ratio: 1 / 1;
		padding: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.25rem;
    	font-weight: 400;
		text-align: center;
		color: $color-gray-100;
		opacity: 0;
		transition: .3s;
	}
}