.footer-wrap {
	padding: 0.75rem 0 2.25rem;
	background-color: $color-primary-bg;
	@media (max-width: $media-max-pad) {
		padding: 1.375rem 0 1.5rem;
	}
	.footer-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		.footer-contact {
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.625;
			color: #FFF;
			text-align: center;
		}
		.footer-copyright {
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.1875;
			color: $color-third;
			text-align: center;
		}
	}
}